<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/" >
  <sitecore>
    <pipelines>
      <group groupName="ExperienceEditor" name="ExperienceEditor">
        <pipelines>
          <pageEditingScripts>
            <processor type="Sitecore.ExperienceEditor.Pipelines.PageEditingScripts.AddDeclaredScripts, Sitecore.ExperienceEditor">
              <path patch:instead="path[.='/sitecore/shell/Applications/Page Modes/ChromeControls.js']">
                /sitecore/shell/Applications/Page Modes/Sitecore.Support.163934.ChromeControls.js
              </path>
            </processor>
          </pageEditingScripts>
        </pipelines>
      </group>
    </pipelines>
  </sitecore>
</configuration>